*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
}
.box{
    background-color: red;
    width: 400px;
    height: 400px;

    margin-left: 200px;
    padding-top: 100px;
    padding-right: 100px;
    border: 10px solid purple;

    border-radius: 100px;
    box-shadow: 10px 5px 5px red;
}
.text{
    border-bottom: blue solid 1px;
    padding-bottom: 10px;
    /*text-decoration: green underline ;*/
}